@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #f37021;
  --primary-txt: #111;
  --secondary-txt: #696969;
  --bg-clr: #fff;
  --btn-txt: #fff;
}

html {
  scroll-behavior: smooth;
}

.nanito {
  font-family: var(--font-nunito-sans);
}

.rufina {
  font-family: var(--font-rufina);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.khand {
  font-family: var(--font-khand);
}

nav {
  font-family: var(--font-montserrat);
  font-weight: 700;
}

h1 {
  font-family: var(--font-montserrat);
  @apply text-5xl;
  font-weight: 600;
  color: black;
}

h2 {
  font-family: var(--font-montserrat);
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

h3 {
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 1.25rem;
}

h4 {
  font-family: var(--font-nunito-sans);
  font-size: 1.25rem;
}

.btn {
  font-family: var(--font-montserrat);
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform: translateY(-110%);
  transition: all 0.3s ease;
  /* z-index: -1; */
}

.btn span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.btn:hover span {
  color: #fff;
}

.btn:hover::before {
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4,
  .btn {
    font-size: 1rem;
  }
}

body {
  font-family: var(--font-nunito-sans);
  color: var(--secondary-txt);
}

.hero-pattern-bg {
  background-image: repeating-linear-gradient(
    45deg,
    #ffffff14,
    #ffffff0c 5px,
    var(--primary-clr) 5px,
    var(--primary-clr) 35px
  );
}

@media screen and (min-width: 1024px) {
  .image-slider {
    width: 80% !important;
    margin-left: auto;
  }

  .text-slider {
    width: 90% !important;
  }
}

.pattern1 {
  background-image: url("/assets/backgrounds/pattern1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pattern2 {
  background-image: url("/assets/backgrounds/pattern2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pattern3 {
  background-image: url("/assets/backgrounds/pattern3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shadow-custom {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shadow-primary {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.gradient-bg {
  background: linear-gradient(-101deg, #ffffff -70.78%, #f36821 100%);
}

@media screen and (max-width: 768px) {
  .dropdown {
    box-shadow: none;
  }
}

.feeds::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

.feeds::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.feeds::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-clr);
}

.opacity-transition {
  transition: opacity 0.3s ease 0.5s;
}

.journey,
.journey-card {
  position: relative;
}

@media screen and (max-width: 768px) {
  .journey::before {
    position: absolute;
    content: "";
    top: 0;
    left: -10%;
    height: 100%;
    border: 2px solid #f36821;
    background-color: #f36821;
    transform: translateX(-50%);
  }

  .journey-card::before {
    position: absolute;
    content: "";
    top: 10%;
    left: -10%;
    padding: 0.8rem;
    border: 2px solid #f36821;
    background-color: #fff;
    transform: translateX(-50%);
    border-radius: 50%;
  }
}

.rotate-left {
  transform: perspective(500px) rotateY(35deg);
  scale: 0.7;
}

.rotate-right {
  transform: perspective(500px) rotateY(-35deg);
  scale: 0.7;
}

.up-and-up-animate {
  animation: up-and-up 20s ease-in-out 5s;
}

@keyframes up-and-up {
  0% {
    transform: translateY(300%);
  }
  25% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
