@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #f37021;
  --primary-txt: #111;
  --secondary-txt: #696969;
  --bg-clr: #fff;
  --btn-txt: #fff;
}

.rufina {
  font-family: var(--font-rufina)
}

nav {
  font-family: var(--font-rufina);
  font-weight: 700;
}

h1 {
  font-family: var(--font-rufina);
  @apply text-5xl;
  font-weight: 600;
  color: black;
}

h2 {
  font-family: var(--font-rufina);
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

h3 {
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 1.25rem;
}

h4 {
  font-family: var(--font-nunito-sans);
  font-size: 1.25rem;
}

.btn {
  font-family: var(--font-rufina);
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform: translateY(-110%);
  transition: all 0.3s ease;
  /* z-index: -1; */
}

.btn span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.btn:hover span {
  color: #fff;
}

.btn:hover::before {
  transform: translateY(0);
}

body {
  font-family: var(--font-nunito-sans);
  color: var(--secondary-txt);
}

.hero-pattern-bg {
  background-image: repeating-linear-gradient(
    45deg,
    #ffffff14,
    #ffffff0c 5px,
    var(--primary-clr) 5px,
    var(--primary-clr) 35px
  );
}

@media screen and (min-width: 1024px) {
  .image-slider {
    width: 80% !important;
    margin-left: auto;
  }

  .text-slider {
    width: 90% !important;
  }
}
