@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #f37021;
  --primary-txt: #111;
  --secondary-txt: #696969;
  --bg-clr: #fff;
  --btn-txt: #fff;
}

nav {
  font-family: var(--font-montserrat-alternates);
  font-weight: 700;
}

h1 {
  font-family: var(--font-montserrat-alternates);
  @apply text-5xl;
  font-weight: 600;
}

h2 {
  font-family: var(--font-montserrat-alternates);
  font-size: 2rem;
}

h3 {
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: 1.25rem;
}

h4 {
  font-family: var(--font-nunito-sans);
  font-size: 1.25rem;
}

button,
.btn {
  font-family: var(--font-montserrat-alternates);
  font-family: 1.25rem;
  font-weight: 600;
}

body {
  font-family: var(--font-nunito-sans);
  background-color: var(--primary-clr);
}

.hero-pattern-bg {
  opacity: 0.8;
  background: repeating-linear-gradient(
    45deg,
    #ffffff14,
    #ffffff0c 5px,
    var(--primary-clr) 5px,
    var(--primary-clr) 35px
  );
}
